// colors //
$yellow: rgb(241, 218, 85);
$orange: rgb(255, 136, 0);
$light-blue: #22aaf8;
$green: rgb(23, 114, 64);
$blue: rgb(5, 87, 182);
$white: white;
$red: rgba(235, 57, 57, 0.89);
$black: rgba(0, 0, 0, 0.822);
$grey: rgb(179, 178, 166);

// Fonts //
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); // "Righteous", cursive;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); // "Montserrat", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0px 56px;

  header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    #search {
      width: 240px;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid;
      outline: none;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
    }
  }

  main {
    height: 80vh;
    display: flex;
    flex-direction: column;

    #topContainer {
      height: 10vh;
      font-family: "Montserrat", sans-serif;

      #cityName {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 8px;
      }

      #weather {
        font-size: 28px;
      }
    }

    #bottomContainer {
      height: 70vh;
      display: flex;
      align-content: center;

      #leftContainer {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #bottomLeftContainer {
          width: 25vw;
          display: flex;
          justify-content: center;
          gap: 4px;

          #temperature {
            font-family: "Righteous", cursive;
            font-size: 160px;
          }
          #celcius {
            font-size: 24px;
            font-family: "Montserrat", sans-serif;
            align-self: flex-start;
          }
        }
        #bottomRightContainer {
          display: flex;
          flex-direction: column;
          gap: 12px;
          font-family: "Montserrat", sans-serif;
          font-weight: 800;
        }
      }

      #rightContainer {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #weatherIcon {
          width: 400px;
          height: 400px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.clear {
  color: $orange;
  background-color: $yellow;
  #weatherIcon {
    filter: invert(45%) sepia(83%) saturate(971%) hue-rotate(2deg)
      brightness(108%) contrast(101%);
  }
}
.clouds {
  color: $white;
  background-color: $grey;
  #weatherIcon {
    filter: invert(97%) sepia(60%) saturate(14%) hue-rotate(241deg)
      brightness(104%) contrast(100%);
  }
}

.rain {
  color: $light-blue;
  background-color: $green;
  #weatherIcon {
    filter: invert(44%) sepia(98%) saturate(1290%) hue-rotate(181deg)
      brightness(108%) contrast(95%);
  }
}
